section{
    margin-top: 15px;
}


#frm{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 20%;
}

.inputs{
    border: 1px solid #c3ddfa;
    border-radius: 8px;

}

.btn{
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    transition: ease-in-out 0.5s;
    width: 50%;
    align-self: center;
}

.btn:hover{
    background-color: rgb(173, 173, 173);
}

#contatosDropdown{
    border: 1px solid #c3ddfa;
    border-radius: 8px;
    margin-bottom: 10px;
}


